.posabs{
    position: absolute;
    &.right{
        right: 40%;
    }
    &.validate{
        right: 0;
    }
}


header {
    div{
        &.cl-rootBox:not(.on):not(.cl-userButton-root){display: none;}
    }
    button{

        &.on{
            &~div{
                display: block;
            }
        }
    }

}
footer{
    display: none;
}

