header {
    div{
        &.cl-rootBox:not(.on){display: none;}
    }
    button{

        &.on{
            &~div{
                display: block;
            }
        }
    }

}
footer{
    display: none;
}

